.create-routes-deliveries ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  max-height: 500px;
  overflow-y: auto;
  scrollbar-width: thin;
}

.create-routes-deliveries ul li {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  background-color: white;
  border-radius: 4px;
}

.create-routes-deliveries ul li button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: 16px;
  font-weight: 600;
}

.create-routes-deliveries ul li button:hover {
  color: rgb(225, 0, 0);
}

.create-routes-results i {
  font-size: 16px;
  font-weight: 600;
}

.create-routes-results-buttons {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.create-routes-results button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
  border: 3px solid transparent;
  align-items: stretch;
}

.create-routes-results button:hover {
  border: 3px solid purple;
}

.create-routes-view-route {
  height: 70vh;
  width: 100%;
  max-width: 85vw;
  aspect-ratio: 16 / 9;
}

.create-routes-view-route-details div {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  row-gap: 10px;
  flex-wrap: wrap;
  padding: 10px 20px;
  background-color: white;
  border-radius: 4px;
}

.create-routes-view-route-deliveries ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  max-height: 500px;
  overflow-y: auto;
  scrollbar-width: thin;
}

.create-routes-view-route-deliveries li {
  display: flex;
  column-gap: 10px;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  background-color: white;
  border-radius: 4px;
}
