.page-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(231, 230, 230);
  border: 1px solid rgb(200, 200, 200);
  border-radius: 6px;
  width: 100%;
  margin: 20px 0;
  padding: 20px 0;
  row-gap: 20px;
}

.page-frame hr {
  width: 70%;
  border: 1px solid rgb(200, 200, 200);
}

.page-frame h1 {
  font-size: 32px;
  font-weight: 700;
}

.page-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  row-gap: 10px;
  padding: 0 10px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}

.btn:disabled,
.btn:disabled:hover {
  background-color: rgb(200, 200, 200);
  color: rgb(150, 150, 150);
  cursor: not-allowed;
}

.btn-primary {
  background-color: purple;
  color: white;
}

.btn-primary:hover {
  background-color: rgb(179, 104, 179);
}

.btn-light {
  background-color: white;
  color: black;
}

.btn-light:hover {
  background-color: rgb(216, 216, 216);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  width: 360px;
}

.form label {
  font-size: 16px;
  font-weight: 600;
  align-self: flex-start;
}

.form input {
  padding: 10px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 4px;
  width: 100%;
}

.form select {
  padding: 10px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 4px;
  width: 100%;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: 16px;
  font-weight: 600;
}

.modal-close:hover {
  color: rgb(225, 0, 0);
}
